<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="pull-left">
                    <img class="media-object img-rounded" ng-src="{{show.poster}}">
                    <div class="text-center" ng-if="currentUser">
                        <div ng-show="!isSubscribed()">
                            <button ng-click="subscribe()" class="btn btn-block btn-success">
                                <span class="glyphicon glyphicon-plus"></span> Subscribe
                            </button>
                        </div>
                        <div ng-show="isSubscribed()">
                            <button ng-click="unsubscribe()" class="btn btn-block btn-danger">
                                <span class="glyphicon glyphicon-minus"></span> Unsubscribe
                            </button>
                        </div>
                    </div>
                    <div class="text-center" ng-show="!currentUser">
                        <a class="btn btn-block btn-primary" href="#/login">Login to Subscribe</a>
                    </div>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">
                        {{show.name}}
                        <span class="pull-right text-danger">{{show.rating}}</span>
                    </h2>
                    <h4 ng-show="show.status === 'Continuing'">
                        <span class="glyphicon glyphicon-calendar text-danger"></span>
                        {{show.airsDayOfWeek}} <em>{{show.airsTime}}</em> on
                        {{show.network}}
                    </h4>
                    <h4 ng-show="show.status === 'Ended'">
                        Status: <span class="text-danger">Ended</span>
                    </h4>
                    <p>{{show.overview}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info" ng-show="nextEpisode">
        The next episode starts {{nextEpisode.firstAired | fromNow}}.
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span ng-click="all = false"><span class="glyphicon glyphicon-play" ></span> Unwatched Episodes</span>
            <span ng-click="all = true"><span class="glyphicon glyphicon-play" ></span> All Episodes</span>
            <span class="glyphicon glyphicon-play" ></span>
            <span ng-repeat="season in seasonsRange" style="margin-right: 10px" ><span ng-click="changeSeason(season)" >{{season}}</span></span>
        </div>
        <div class="panel-body">
            <div class="episode" ng-repeat="episode in show.episodes | showWatched:all">
                <h4 style="color: {{episode.color}}">{{episode.episodeName}}
                    <small>Season {{episode.season}}, Episode {{episode.episodeNumber}}</small>
                </h4>
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>
                    {{episode.firstAired | date: 'short'}}

                    <input type="checkbox" ng-model="episode.watched" ng-change="updateEpisode(episode._id, episode.watched,episode)">
                </p>
                <div><!--<img src="http://thetvdb.com/banners/{{episode.imageLocation}}" style="vertical-align: middle"/>--><span>{{episode.overview}}</span></div>
            </div>
        </div>
    </div>
</div>